<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="customer"
		class="com.tanveer.spring.springcore.map.Customer">


		<property name="products">
			<map>
				<entry key="100" value="Iphone" />
				<entry value="MacBookPro">
					<key>

						<value>300</value>

					</key>
				</entry>
				<entry key="300">
					<value>
						Ipad
					</value>
				</entry>
				
				<entry>
				 <key>
				 	<value>400</value>
				 </key>
				 <value> Macbook AIR</value>
				</entry>
			</map>


		</property>

	</bean>

</beans>